version: '2'
services:
  web:
    container_name: tw33t
    image: cubicasa-developer-test
    build: .
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    environment:
      - FLASK_APP=application.py
      - FLASK_DEBUG=1
      - 'RUN=flask run --port 8000 --host 0.0.0.0'
    command: flask run --port 8000 --host 0.0.0.0
    # Infinite loop, to keep it alive, for debugging
    # command: bash -c "while true; do echo 'sleeping...' && sleep 10; done"